@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --header-image: url("homepage/img/header_logo.png");
  --header-bg-image: url("homepage/img/header_bg.svg");
  --body-bg-image: url("homepage/img/bg_swoop.svg");

  /* theme colors */
  --main-bg-color: #08415c;

  --header-color: #e0ccfa;

  --link-color: #f9cff2;
  --navbar-link-color: #dae0f2;
  --heading-color: #dae0f2;
  --strong-color: #f9cff2;
  --box-border-color: #f9cff2;

  --navbar-link-hover-color: #a49cba;
  --sidebar-bg-color: #111344;

  --footer-background-color: #13092d;
  --box-bg-color: #13092d;
  --topbar-bg-color: #13092d;
  --navbar-bg-color: #55106d;

  --body-bg-color: #ffffeb;
  --body-font-color: #efe9e7;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background-color: var(--body-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--body-font-color);
  background-image: var(--body-bg-image);
}

#container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  max-height: 100vh;
}

#inner-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
}

/* the area below is for all links on your page
EXCEPT for the navigation */
#container a {
  color: var(--link-color);
  font-weight: bold;
  /* if you want to remove the underline
you can add a line below here that says:
text-decoration:none; */
}

header {
  width: 100%;
  background-color: var(--header-color);
  height: 150px;
  background-image: var(--header-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
}

header img {
  width: auto;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

header img:hover,
header img:focus,
header img:active {
  animation: 1s linear tada;
}

/* navigation section!! */
#navbar {
  height: 40px;
  background-color: var(--navbar-bg-color);
  /* navbar color */
  width: 100%;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

#headerArea {
  grid-column: span 3;
}

#footer {
  grid-column: span 3;
}

/* navigation links*/
#navbar li a {
  color: var(--navbar-link-color);
  /* navbar text color */
  font-weight: 800;
  text-decoration: none;
  /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
  color: var(--navbar-link-hover-color);
  text-decoration: underline;
}

.inner-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

#widgets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#lanyard-wrapper {
  border-radius: 1em;
  overflow: hidden;
  border: 2px solid white;
}

/* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
aside {
  background-color: var(--sidebar-bg-color);
  width: 200px;
  padding: 20px;
  font-size: smaller;
  /* this makes the sidebar text slightly smaller */
}

main {
  background-color: var(--main-bg-color);
  flex: 1;
  padding: 20px;
  overflow: auto;
}

footer {
  background-color: var(--footer-background-color);
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

h1 {
  font-size: 25px;
}

strong {
  color: var(--strong-color);
}

.card {
  background-color: var(--box-bg-color);
  border: 1px solid var(--box-border-color);
  padding: 10px;
}

.pfp-wrapper {
  border-radius: 9999px;
  overflow: hidden;
  height: 10em;
  width: 10em;
  border: 2px solid #ffcf34;
  background-image: url("https://lh3.googleusercontent.com/d/1AEK8eeReXyjul27eKhplG6aneMTuf4cL");
  background-size: cover;
}

#pfp {
  width: 100%;
  height: auto;
}

/* CSS for extras */

@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
  main {
    order: 1;
    grid-column: span 3;
    overflow: unset !important;
  }

  #leftSidebar {
    order: 2;
    grid-column: span 3;
  }

  #rightSidebar {
    order: 3;
    grid-column: span 3;
  }

  #navbar ul {
    flex-wrap: wrap;
  }

  footer {
    order: 4;
  }
}

/* Music Player */

.yt-player-wrapper {
  display: none;
}

.music-player-title {
  font-size: 1.5em;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#music-current-time {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.music-player-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}

.music-player-controls button {
  color: var(--body-font-color);
  background-color: unset !important;
  border: none;
}

.music-player-slider {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  align-items: center;
}

#duration-slider {
  margin: 0 0.5em;
  flex-shrink: 1;
}

.music-player-controls button {
  padding: 0;
}

.music-player-slider {
  padding: 0 1em;
}

.music-player-controls-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
