#control-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--size-4);
  background-color: var(--surface-2);
  border-top-left-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  border: var(--border-size-1) solid var(--surface-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  align-items: center;
}

#control-panel p {
  font-style: italic;
  font-size: var(--font-size-00);
  opacity: 0;
  margin: 0;
}

#control-panel:hover p {
  opacity: 1;
}

#downloader {
  display: none;
}

#builder-dialog {
  width: fit-content;
  height: fit-content;
  max-height: 80%;
  max-width: 80%;
  padding: var(--size-4);
}

#builder-dialog-inner {
  padding: var(--size-1) var(--size-4);
  overflow-y: auto;
}
