/* theme switcher component */

.dropdown-container {
	position: relative;
	height: fit-content;
}

.light-dark-switcher {
	padding: var(--size-1) var(--size-2);
	aspect-ratio: var(--ratio-square);
}

.dropdown-menu {
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(-60%) translateY(50%);
	z-index: var(--layer-important);
	border-width: var(--border-size-2);
	border-radius: var(--radius-2);
	padding: var(--size-1);
	width: fit-content;
	white-space: nowrap;
	background-color: var(--surface-1);
}

.dropdown-menu form {
	display: inline-flex;
	flex-direction: column;
}

.dropdown-menu input[type="radio"] {
	display: none;
}

.dropdown-menu label {
	width: 100%;
	padding: var(--size-1) var(--size-2);
	border-radius: var(--radius-2);
}

.dropdown-menu span {
	width: 100%;
	display: flex;
}

.dropdown-menu label:hover {
	background-color: var(--surface-2);
}

.dropdown-menu label i {
	margin-right: var(--size-1);
}

.dropdown-menu input[type="radio"]:checked + label .on,
.dropdown-menu input[type="radio"]:not(:checked) + label .off {
	display: inline-block;
}

.dropdown-menu input[type="radio"]:checked + label .off,
.dropdown-menu input[type="radio"]:not(:checked) + label .on {
	display: none;
}
